@charset "utf-8";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

:focus {
    outline: 0;
}

body {
    line-height: 1;
    color: black;

    /* background: white; */
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

caption,
th,
td {
    text-align: left;
    font-weight: normal;
}

#rate-home {
    background-image: url('../images/bg/ratehead.png');
}

#homebtn {
    width: -39px;
    margin-top: 10px;
    padding-left: 26px;
    margin-left: 14px;
}

#ratela {
    padding-left: 13px;
}

#demo-left {
    margin-right: -164px;
    margin-left: 75px;
    padding-left: 0px;
    margin-top: 59px;
}

#demo-right {
    margin-top: 75px;
}

#starrate {
    right: 10px;
    padding-top: 5px;
    height: 37px;
}

#indistar {
}