#trytext {
    margin-top: -144px;
    padding-top: 0px;
    margin-left: 78px;
}

#trytext1 {
    margin-top: -6px;
    top: 2px;
    padding-top: 0px;
    margin-bottom: 12px;
    padding-bottom: 6px;
}

#rate-home {
    background-image: url('images/bg/ratehead.png');
}

#ratelabe {
    font-size: 23px;
    color: #0b3351;
    font-weight: bold;
    letter-spacing: 1px;
}

#ratecon {
    margin-top: -37px;
}

#ratecard {
    margin-top: -64px;
    margin-bottom: -7px;
    padding-bottom: 0px;
}