* {
    margin: 0px;
    padding: 0px;
    font-family: 'Arimo', sans-serif;
}

body {
    font-size: 120%;
    background: url(cel.gif) no-repeat center center fixed;
    background-size: cover;
}

.header {
    width: 30%;
    margin: 50px auto 0px;
    color: white;
    background: #af1313;
    text-align: center;
    border: 1px solid #B0C4DE;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
    font-family: 'Arimo', sans-serif;
}

form,
.content {
    width: 30%;
    margin: 0px auto;
    padding: 20px;
    border: 1px solid #B0C4DE;
    background: white;
    border-radius: 0px 0px 10px 10px;
}

.input-group {
    margin: 10px 0px 10px 0px;
}

.input-group label {
    display: block;
    text-align: left;
    margin: 3px;
    font-family: 'Arimo', sans-serif;
}

.input-group input {
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
}

.btn {
    padding: 10px;
    font-size: 15px;
    color: white;
    background: #af1313;
    border: none;
    border-radius: 5px;
    font-family: 'Arimo', sans-serif;
}

.error {
    width: 92%;
    margin: 0px auto;
    padding: 10px;
    border: 1px solid #a94442;
    color: #a94442;
    background: #f2dede;
    border-radius: 5px;
    text-align: left;
}

.success {
    color: #1369af;
    background: #dff0d8;
    border: 1px solid #1369af;
    margin-bottom: 20px;
}

.btnEdit {
    padding: 10px;
    font-size: 15px;
    color: white;
    background: #1369af;
    border: none;
    border-radius: 5px;
}

.btnReject {
    padding: 10px;
    font-size: 15px;
    color: white;
    background: maroon;
    border: none;
    border-radius: 5px;
}

#regbg {
    background-image: url('images/bg/bgc.png');
    margin-top: 14px;
    top: 17px;
    margin-left: -280px;
    padding: 169px 245px 124px 0px;
    margin-right: 167px;
    background-attachment: fixed;
    background-size: cover;
}

#logbg {
    background-image: url('images/bg/bgc.png');
    background-attachment: fixed;
    background-size: cover;
    padding-top: 236px;
    padding-left: 0px;
    margin-left: -258px;
    padding-right: 455px;
}